<h3>Info on URL Shortening form </h3>
 

{% block body %}
<p> ID: {{ data.getId }}   </p>
<p> Original URL:  {{ data.getOriginalUrl }} </p>
<p> Shorten URL:  {{ data.getShortenLink }}  </p>
{% endblock %}